<h3>Add Test Case</h3>

<form action="/addTest" method="post">
    <fieldset>
        <legend>Input test case values:</legend>
            <label for="test1">Test 1:<br />
            <input type="number" step="any" id="test1" name="test1" min="0" max="100" required />
                <br />
            </label>

            <label for="test2">Test 2:<br />
            <input type="number" step="any" id="test2" name="test2" min="0" max="100" required />
                <br />
            </label>

            <label for="Hw1">Homework 1:<br />
            <input type="number" step="any" id="homework1" name="homework1" min="0" max="100" required />
                <br />
            </label>

            <label for="Hw2">Homework 2:<br />
            <input type="number" step="any" id="homework2" name="homework2" min="0" max="100" required />
                <br />
            </label>

            <label for="Hw3">Homework3:<br />
            <input type="number" step="any" id="homework3" name="homework3" min="0" max="100" required />
                <br />
            </label>

            <input type="submit" value="Calculate Final Grade">
    </fieldset>
</form>


